.page-header
  %h1 
    Welcome to Awesome Answers
    %small get all your answers here bro

.row.getaway
  .col-xs-12.col-md-4
    = button_tag "<i class='glyphicon-plus'> </i>Create New Question".html_safe, class: "btn btn-primary", data: { toggle: "modal", target: "#newQuestion", disable_with: "Creating..." }

#newQuestion.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newQuesitonLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title New Question
      .modal-body
        .question-errors
        = render "/questions/form"
      .modal-footer
        

.row
  .col-xs-12.col-md-12.questions
    - @questions.each_slice(3) do |question_group| 
      .row= render question_group
       
